// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.animal-card {
	img {
		height: 100%;
		width: 100%;
	}
}

.animal-content {
	padding-top: 3px;

	font-size: 1.33em;
}

.animal-avatar {

	overflow: hidden;
}

.animed-h1-title-new {
	margin-top: 0px;
	margin-bottom: 20px;
	padding-bottom: 3px;
}

@media screen and (max-width: 400px) {
	.animal-content {
		font-size: 1.0em;
	}
}

@media screen and (max-width: 768px) {
	.animal-card {
		img {
			height: auto;
			width: 35%;
		}
	}

	
}
