// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.animed-animal-content {
	width: 100%;
	height: 100%;
	padding: 1%;
	background-color: rgb(66, 139, 202);
	border-radius: 15px;
	overflow: auto;
}

.animed-animal-avatar {
	display: inline;

	img {
		display: inline;
		border-radius: 15px;
		width: 35%;
		height: 100%;
	}
}

.animed-animal-info {
	width: 63%;
	height: 100%;
	height: auto;
	display: inline;
	float: right;
	border-style: solid;
	margin-left: 3px;
	border-radius: 15px;
	padding: 2%;
	background-color: white;
	
}

.animed-h1-title-new {
	margin-top: 0px;
	margin-bottom: 20px;
	padding-bottom: 3px;
}

@media screen and (min-width: 768px) {

}
