/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */


.animed-h1-title {
  color: gray;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border-bottom-style: solid;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}



.animed-menu {
  font-size: 1.5em;

}

.animed-top li {
  font-size: 1.5em;
}

.animed-search-form {
  display: inline;
}
.animed-search-field {
  display: inline;
  width: 78%;
  height: 42px;
  font-size: 1.3em;
  margin-top: 2px;
  position: relative;
  bottom: -3px;
  border-radius: 5px;

}

.animed-search-field-100 {
  display: inline;
  width: 97%;
  height: 42px;
  font-size: 1.3em;
  margin-top: 2px;
  position: relative;
  bottom: -3px;
  border-radius: 5px;
}

.animed-search-btn {
  display: inline;
  width: 10%;
}

.animed-search-btn-100 {
  display: inline;
  width: 21%;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 890px;
  }
  .animed-content {
    left: 50px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.animed-title-header {
  padding: 12px;
  border-style: solid;
  border-color: rgb(66, 139, 202);
  margin: 20px 0;
  border-radius: 6px;
  
  .animed-subtitle {
    display: inline;

    h2 {
    display: inline;
    }
  }
  
  .animed-btn-plus {
    display: inline;
    float: right;
    margin: 5px;
  }

  span {
    font-size: 1.5em;
  }
}

.animed-form-label {
  padding-right: 0px;
}

.animed-btn-back {
  display: inline;
  float: right;
  
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }


}

@media screen and (max-width: 768px) {
  .animad-app-title {
    display: none;
  }

  .animed-search-btn-100 {
    display: inline;
    width: 21%;
  }


}

@media screen and (max-width: 533px) {
  .animed-search-btn-100 {
    display: inline;
    width: 20%;
  }

  .animed-search-field{
    width: 78%;
  }
  .animed-searc-label {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .animed-service-hide {
    display: none;
  }


  .animed-search-btn {
    display: inline;
    width: 14%;
  }

  .animed-search-field { 
    width: 75%;
  }

}

/* User authentification css styles */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.app-background {
  background-image: url("beagle.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

}

.login-form {
  position: relative;
  left: -30%;
  top: 170px;
  display: inline;
  label {
    color: white;
  }
  h2 {
    color: white;
  }

}

.form-logo {
  display: none;
}

@media screen and (max-width: 1100px) {
  .app-background {
    background-color: rgb(237, 206, 96);
    background-image: none;
  }

  .login-form {
      display: block;
      left: auto;
      top: auto;
  }
  .form-logo {
      display: block;
      color: rgb(129, 117, 107);
      font-size: 4em;
  }


}


  